<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>New Task</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<div th:insert="fragments/nav"></div>
	<body>
		<h1 class="text-center text-info pb-3">Create a New Task</h1>
		<div class="container jumbotron">
			<form action="#" th:action="@{/task/new}" th:object="${task}" method="post">
				<div class="form-group">
					<label for="taskInput">Task:</label>
					<input id="taskInput" class="form-control" type="text" th:field="*{title}" placeholder="Type a Task..." required>
				</div>
				<div class="form-group">
					<label for="taskInput">Description:</label>
					<input id="taskInput" class="form-control" type="text" th:field="*{description}" placeholder="Type a Description..." required>
				</div>
				<div class="form-group">
					<label for="authorInput">Author:</label>
					<input id="authorInput" class="form-control" type="text" th:field="*{creator}" placeholder="Type the Author..." required>
				</div>
				
				<input class="btn btn-secondary" type="submit" value="Submit">
			</form>
			<br>
			<a class="text-center mt-5 text-info" th:text="${message}" th:href="@{/task/} + ${task.id}"></a>
		</div>
		
	</body>
</html>

