<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Java Tasks</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<div th:insert="fragments/nav"></div>
	<body>
		<h1 class="text-center text-info">Tasks</h1>
		<div class="container">

				<form th:if="${!allTasks.empty}" class="text-right" th:object="${task}" th:action="@{/tasks/}" th:method="delete">
					<input class="btn btn-danger " type="submit" value="Delete All Tasks">
				</form>

			
		<div th:if="${allTasks.empty}">
				<h1 class="text-center text-secondary">No Tasks Available</h1>
			</div> 
			<div th:each="task: ${allTasks}">
				<div class="row border rounded mb-10 py-10">
					<div class="col-2 d-flex align-items-center justify-content-between">
						<a class="btn btn-secondary mx-auto" th:href="@{/task/} + ${task.id}">View Task</a>
					</div>
					<div class="col-6 py-3">
						<p class="pb-0 mb-0 text-info" th:text="${task.title}"></p>
						<small class="pt-0 mt-0" th:text="${task.creator}"></small>				
					</div>
					<div class=" col-4 d-flex align-items-center justify-content-end">
						<form  th:if="${task.completed!=true}"class="" th:object="${task}" th:action="@{/task/} + ${task.id}" th:method="post">
							<input class="btn btn-secondary" type="submit" value="Complete Task" >
						</form>
							<div th:if="${task.completed!=null}">
							<span class="pr-3 text-success">Completed</span>
							<br>
						</div>
						<form class="" th:object="${task}" th:action="@{/task/} + ${task.id}" th:method="delete">
							<input class="btn btn-danger" type="submit" value="Delete Task">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>





